.App {
  width: 40em;
  padding: 3em 0;
  margin: 0 auto;
  line-height: 1.5;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.autofocus-setting {
  display: block;
  margin: 1em 0;
}

.autofocus-setting input {
  margin-right: 0.5em;
}

.error-summary {
  padding: 1em;
  border: 1px solid red;
  margin-bottom: 1em;
}
.error-summary p {
  margin: 0;
}
.error-summary p:first-child {
  margin-bottom: 0.5em;
}

.implementation-notes {
  margin-bottom: 1em;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  border: 1px solid lightgray;
  background: white;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5rem;
}

.nav-buttons .button-active {
  border-color: black;
}

.labelled-field {
  margin-bottom: 2em;
}

.labelled-field input {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5rem;
  border: 1px solid gray;
  box-sizing: border-box;
}

.labelled-field label {
  display: block;
  margin-bottom: 0.5em;
}

.field-error-message {
  margin-top: 0.5em;
  color: darkred;
}

.field-instructions {
  margin: 0;
  margin-top: 0.2em;
  font-style: italic;
  color: darkslategray;
}

.submit-button {
  border: 0;
  background: darkblue;
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.5rem;
}
